<div class="section-title">
  <h2> Search Results for <span class="bold-text"> “madonna” </span> </h2>
  <span class="section__other-detail"> Total Items: 300 </span>
  <div class="clearfix"></div>
</div>
<div class="card h-full-height">
  <p-tabView>
    <p-tabPanel header="Asset" [selected]="true">
      <app-asset-results class="vms-table "></app-asset-results>

    </p-tabPanel>
    <p-tabPanel header="Clip" >
      <app-clip-results></app-clip-results>

    </p-tabPanel>
    <p-tabPanel header="Image" >
      <app-image-results></app-image-results>
    </p-tabPanel>
  </p-tabView>
</div>